@using PollsApp.Application.DTOs

@model PollsViewModel

<div>

    <partial name="_UserPanel" />

    <partial name="_SearchPanel" />

    <partial name="_PollsListTable" />
    

</div>



<script src="~/js/search.js"></script>
<script src="~/js/buttons_admin.js"></script>
<script src="~/js/delete.js"></script>
