
@using PollsApp.Mvc.ViewModels

@model PollsViewModel

<div class="comments-input" id="comments-input">
    <textarea class="comments-textarea" id="comments-textarea"></textarea>
    <div id="emoji">&#128578;</div>
    <div id="emojis" class="emojis-hidden">
        <div class="emoji-row">
            <div class="emoji-item">&#128512;</div>
            <div class="emoji-item">&#128515;</div>
            <div class="emoji-item">&#128516;</div>
        </div>
        <div class="emoji-row">
            <div class="emoji-item">&#128578;</div>
            <div class="emoji-item">&#128522;</div>
            <div class="emoji-item">&#128536;</div>
        </div>
        <div class="emoji-row">
            <div class="emoji-item">&#128514;</div>
            <div class="emoji-item">&#129315;</div>
            <div class="emoji-item">&#128513;</div>
        </div>
    </div>
</div>