
@using PollsApp.Mvc.ViewModels

@model PollsViewModel

<div>

    <partial name="_UserPanel" />

    <partial name="_SearchPanel" />

    <partial name="_PollsList" />

</div>



<script src="~/js/search.js" ></script>
<script src="~/js/buttons.js"></script>