
@using PollsApp.Mvc.ViewModels

@model PollsViewModel

<form method="get" id="search-form" class="search-form">
    <div class="search-form-item">
        <label for="search">Поиск</label>
        <input type="text" name="search" id="search" asp-for="SearchInfo.Search" autocomplete="off"  />
        <div id="autocomplete" class="autocomplete"></div>
    </div>
    <div class="search-form-item">
        <label for="active">Только активные</label>
        <input type="checkbox" name="active" id="active" value="true" @((Model.SearchInfo.Active != null && Model.SearchInfo.Active == true) ? "checked" : "") />
    </div>
    <div class="search-form-item">
        <label for="active">В которых не голосовал</label>
        <input type="checkbox" name="notvoted" id="notvoted" value="true" @((Model.SearchInfo.NotVoted != null && Model.SearchInfo.NotVoted == true) ? "checked" : "") />
    </div>
    
</form>