
@using PollsApp.Mvc.ViewModels

@model PollsViewModel

@{
    string imgSrc = "https://i.pinimg.com/736x/0d/64/98/0d64989794b1a4c9d89bff571d3d5842.jpg";
    if(Model.User.Avatar != null)
    {
        imgSrc = "data:image/jpeg;base64," + Convert.ToBase64String(@Model.User.Avatar);
    }
}

<div class="user-panel">
    <div class="user-panel-col1">
        <a class="panel-nav-link" href="~/polls">На главную</a>
        @* @if(Model.User.Role.Name == "admin")
        {
            <a href="~/admin/create">Создать новый</a>
        } *@
    </div>
    <div class="user-panel-col2">
        <img src="@imgSrc" class="avatar-img" title="@Model.User.Name" />
        <div class="user-panel-col2-details">
            <p class="show-user-panel-details" id="show-user-panel-details">&#9881;</p>
            
        </div>
        <div id="user-panel-details" class="hidden">
            <a class="panel-nav-link" href="~/Account/Logout">Выйти</a>
            <a class="panel-nav-link" href="~/Account/Edit">Изменить</a>
        </div>
    </div>
    
    
</div>